section {
    display: flex;
    flex-direction: row;
    padding: 5px;
    overflow: auto;
    color: #fff;
    background: #2e2d2d;
    flex-wrap: wrap;
    justify-content: center;
}

.card-wrap {
    flex: 1 1 170px;
    min-width: 30px;
    padding: 10px;
    margin: 5px 15px;
    max-width: 170px;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

@keyframes animate {
    from {top: 10px;}
    to {top: 0px;}
}

.card-wrap:hover .hover-title {
    visibility: visible;
    position: relative;
    animation: 1s animate forwards;
}

.card-container {
    height: 270px;
    padding: 1px;
}

.card-container .active {
    border: 3px solid teal;    
}

.card-content {
    flex: 1;
    background-repeat: no-repeat;
    display: flex;
    border-radius: 3px;
    box-shadow: 1px 1px 0px 0px #222;
    flex-direction: column;
    background-size: 100% 100%;
    height: 240px;
}

.movie-release {
    flex: 1 1;
    margin: 10px 5px 0 0;
    background: teal;
    width: 24px;
    max-height: 25px;
    border-radius: 50%;
    font-size: 7px;
    text-align: center;
    vertical-align: middle;
    align-self: flex-end;
    line-height: 8px;
    padding: 3px 0
}

.play-option {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: 20px;
}

.play-option .hover-title {
    visibility: hidden;
    font-size: 16px;
}

.play-icon {
    font-size: 50px;
    margin-bottom: 10px;
}

.movie-review {
    flex: 1;
    background-image: linear-gradient(transparent, #333);
    display: flex;
    flex-direction: column;
    text-align: end;
    padding: 5px;
    justify-content: flex-end;
}

.movie-review .upvote {
    color: teal;
}

.movie-review .downvote {
    color: red
}

.movie-name {
    text-align: left;
    padding: 5px 0;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.video-space {
    display: none;
    opacity: 0;
}

@keyframes fadeIn {
    from { 
        top: 20px;
        visibility: hidden;
    }
    to { 
        top: 0px;
        visibility: visible;
    }
}

.video-space.show {
    height: 320px;
    display: block;
    margin-top: 20px;
    animation: 2s fadeIn forwards;
    transition: opacity 2s linear;
    opacity: 1;
}

.video-container {
    background: #2e2d2d;
    height: 320px;
    margin: 0 50px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    width: calc(100% - 100px);
    position: absolute;
    left: 0;
}

.video-player {
    flex: 2;
    padding-right: 20px;
    border-radius: 0 0 4px 4px;
    background: #000;
}

.video-player iframe {
    border: none;
}

.video-description {
    background: rgba(34, 34, 34, 0.9);
    text-align: left;
    padding: 10px;
    flex: 1;
    background: #000;
    border-radius: 0 4px 4px 0;
    display: flex;
    flex-direction: column;
}

.video-container .movie-name {
    font-weight: 800;
    font-size: 16px;
    white-space: normal;
}


.video-container .movie-review {
    background-image: none;
    text-align: left;
    font-size: 10px;
    width: 50%;
}

.video-container .movie-lang {
    font-size: 9px;
    padding: 5px 0;
    margin-bottom: 5px;
}

.movie-genres {
    font-size: 9px;
    display: flex;
    flex-direction: row;
    padding: 5px 0;
    margin-bottom: 5px;
}

.movie-genres .movie-genre {
    border: 1px solid #eee;
    margin-left: 5px;
    padding: 2px 10px;
    border-radius: 15px;
}

.movie-info {
    display: flex;
    flex-direction: row;
    width: 150px;
    align-items: flex-start;
}

.movie-info .movie-review {
    background-image: none;
    text-align: left;
    font-size: 10px;
    width: 50%;
}

.movie-info .movie-release {
    background: none;
    font-size: 10px;
    margin: 5px 0;
    align-self: flex-start;
}

.movie-info i {
    font-size: 20px;
    color: #fff !important;
    margin-right: 5px;
    margin-bottom: 5px;
}

.movie-review-count {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin: 5px 0;
    align-items: flex-end;
    text-align: center;
}

.movie-review-count .movie-review-icon {
    flex: 1 0 0;
    padding: 10px 0;
}

.movie-review-icon i.fa {
    font-size: 15px;
    padding: 10px;
    border-radius: 50%;
    margin-bottom: 5px;
}

.movie-review-icon div {
    font-size: 10px;
}

.movie-review-icon i.fa-thumbs-up {
    border: 1px solid teal;
    color: teal
}
.movie-review-icon i.fa-question {
    border: 1px solid orange;
    color: orange
}
.movie-review-icon i.fa-thumbs-down {
    border: 1px solid red;
    color: red;
}